/05_Communication/Questions_ExistingPythonImplementation.pdf
*.png
/04_Simulation/venv/
/04_Simulation/__pycache__/
/04_Simulation/*/
/04_Simulation/temp
/06_Thesis/literature/*.pdf
/06_Thesis/*feedback.pdf
/06_Thesis/*signed.pdf
